weekly-summary-bounty/workflow.json
{
  "name": "Weekly GitHub Dev Summary (Claude)",
  "nodes": [
    {
      "parameters": {
        "rule": "0 9 * * 1"
      },
      "name": "Weekly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "resource": "pullRequest",
        "operation": "getAll",
        "owner": "YOUR_ORG",
        "repository": "YOUR_REPO",
        "additionalFields": {
          "state": "closed",
          "filters": "{\"merged\":true,\"since\":\"{{$now.minus({days:7}).toISO()}\"}"
        }
      },
      "name": "GitHub - Merged PRs",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [260, 200]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "getAll",
        "owner": "YOUR_ORG",
        "repository": "YOUR_REPO",
        "additionalFields": {
          "state": "open",
          "filters": "{\"since\":\"{{$now.minus({days:7}).toISO()}\"}"
        }
      },
      "name": "GitHub - Open Issues",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [260, 400]
    },
    {
      "parameters": {
        "functionCode": "const prs = $items('GitHub - Merged PRs').map(i => ({title: i.json.title, user: i.json.user?.login, merged_at: i.json.merged_at, url: i.json.html_url}));\nconst issues = $items('GitHub - Open Issues').map(i => ({title: i.json.title, user: i.json.user?.login, url: i.json.html_url}));\nreturn [{ json: { prs, issues, week_of: $now.minus({days:7}).toFormat('yyyy-LL-dd') } }];"
      },
      "name": "Aggregate",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [520, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4\",\n  \"max_tokens\": 1200,\n  \"system\": \"{{ $readFile('summary_prompt.md') }}\",\n  \"messages\": [ { \"role\": \"user\", \"content\": \"Week of {{ $json.week_of }}. PRs: \" + JSON.stringify($json.prs) + \" Issues: \" + JSON.stringify($json.issues) } ]\n}"
      },
      "name": "Claude Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 300]
    },
    {
      "parameters": {
        "channel": "#dev",
        "text": "=:memo: *Weekly Dev Summary* (week of {{ $json.week_of }})\n\n{{ JSON.parse($items('Claude Summary')[0].json.content[0].text).text }}"
      },
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [1040, 300]
    }
  ],
  "connections": {
    "Weekly Schedule": { "main": [ [ { "node": "GitHub - Merged PRs", "type": "main", "index": 0 } ] ] },
    "GitHub - Merged PRs": { "main": [ [ { "node": "Aggregate", "type": "main", "index": 0 } ] ] },
    "GitHub - Open Issues": { "main": [ [ { "node": "Aggregate", "type": "main", "index": 0 } ] ] },
    "Aggregate": { "main": [ [ { "node": "Claude Summary", "type": "main", "index": 0 } ] ] },
    "Claude Summary": { "main": [ [ { "node": "Post to Slack", "type": "main", "index": 0 } ] ] }
  },
  "active": false,
  "settings": {},
  "versionId": 1
}
